body{
background-image: url(bg.jpg);
background-size: 77%;
}

.buttonb{
    position: absolute;
    bottom: 11%;
    right: 93%;
    }
    

    .button{
        position: absolute;
        bottom: 11%;
        left: 93%;
     }

.Man{
position: absolute;
left: 34%;
bottom: 12%;
width: 120px;
}