body{
background-image: url(homepagebackground.jpg);
background-size: cover;
min-height: 100vh;
}


.title{
width: 1400px;
}




.btn-start{
position: absolute;
top: 40%;
left: 38%;
font-size: 100px;
font-family: AssassinCreed;
}

.btn-start2{
position: absolute;
top: 40%;
left: 38%;
font-family: AssassinCreed;
}
.btn-start3{
position: absolute;
top: 40%;
left: 44%;
font-family: AssassinCreed; 
}

@font-face{
font-family: AssassinCreed;
src: Assassin$.ttf;

font-weight: bold;


}

.settings{
width: 50px;
height: 50px;
position: absolute;
bottom: 1%;
left: 95%;

}