  body {
  
  font-family: 'AssassinCreed';
  z-index: 90;
  position: absolute;
  left: 15%;
}



#character-container {
  padding: 10px;
  width: 1000px;
  height: 600px;
  
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 90;
  position: absolute;
  top:60%;
  left:20%;
}

#character-box {
  width: 300px;
  height: 370px;
  float: left;
  border-radius: 5px;background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin-right: 50px;
  z-index: 90;
  position: absolute;
  top:50%;
  left:34%;
}



#character-container.img:hover {
  border-color: blue;
  box-shadow: 0 0 5px blue;
  z-index: 90;
  position: absolute;
  top:50%;
  left:34%;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


.text-center.title {
    font-family: AssassinCreed;
    font-size: 40px;
    position: absolute;
    top:50%;
    left:34%;
    z-index: 100;
}


.text1{
    position: relative;
}
  
