#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

}

.link-dark.settingstext{
position: absolute;
z-index: 90;
font-family: AssassinCreed;

left: 35%;
}

.homeset{
font-size: 130px;
top: 49%;
left: 34%;
}


.text-center.link-dark.settingstext{
top: 22%;
left: 39%;
}

.resume{
    position: absolute;
    z-index: 90;
     
}


